main {
  width: 280px;
  height: 300px;

  p {
    text-align: center;
  }

  .form-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

.dialog-content {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.action-container {
  display: flex;
  justify-content: center;
}
