<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<main>
  <mat-dialog-content>
    <p>Gib einen Namen ein.</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #nameInput cdkFocusInitial matInput [(ngModel)]="name" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="name()">Ok</button>
  </mat-dialog-actions>
</main>

