main {
  width: 260px;
  height: 300px;

}

.dialog-content {
  width: fit-content;
  height: auto;
  overflow: hidden;
}

.name-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.name-list mat-checkbox {
  flex: 0 0 calc(50% - 4px);
  display: flex;
  align-items: center;
}
