<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<main>
  <mat-dialog-content class="dialog-content">
    <p>Gib einen Namen ein.</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #nameInput cdkFocusInitial matInput [(ngModel)]="name" [disabled]="showRegularPlayer()" />
    </mat-form-field>

    <mat-checkbox [(ngModel)]="showRegularPlayer">Namen aus Liste auswählen</mat-checkbox>

    @if(showRegularPlayer()) {
      <div  class="name-list">
          @for (item of regularPlayerList(); track item.id){
            <mat-checkbox [(ngModel)]="item.selected">
              {{ item.name }}
            </mat-checkbox>
          }
      </div>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Abbrechen</button>
      <button mat-button
              [mat-dialog-close]="getSelectedNamesOrInput()"
              [disabled]="(this.showRegularPlayer() && this.getSelectedCount() === 0) || (!this.showRegularPlayer() && !this.name())"
      >Ok</button>
  </mat-dialog-actions>
</main>
