<main>
  <h2>Startspieler wählen</h2>

  @if(players().length > 0) {
    <h3>Wähle den Startspieler</h3>
    <div class="radio-group">
      <mat-radio-group [(ngModel)]="selectedPlayer">
        @for(player of players(); track player.id) {
          <mat-radio-button [value]="player" class="radio-button">
            {{ player.name }}
          </mat-radio-button>
        }
      </mat-radio-group>
    </div>
  } @else {
    <div>
      <p>Keine Spieler verfügbar.</p>
    </div>
  }
  <div class="action-buttons">
    <button mat-button (click)="onCancelClick()">Abbrechen</button>
    <button
      mat-button
      [mat-dialog-close]="selectedPlayer()"
      [disabled]="!selectedPlayer()"
      color="primary"
      cdkFocusInitial>
      Spiel starten
    </button>
  </div>
</main>

