<main>
  <h2 mat-dialog-title>Startspieler wählen</h2>
  <mat-dialog-content>
    @if(players().length > 0) {
      <div class="radio-group">
        <h3>Wähle den Startspieler</h3>
        <mat-radio-group [(ngModel)]="selectedPlayer">
          @for(player of players(); track player.id) {
            <mat-radio-button [value]="player" class="radio-button">
              {{ player.name }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    } @else {
      <div>
        <p>Keine Spieler verfügbar.</p>
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Abbrechen</button>
    <button
      mat-button
      [mat-dialog-close]="selectedPlayer()"
      [disabled]="!selectedPlayer()"
      color="primary"
      cdkFocusInitial>
      Spiel starten
    </button>
  </mat-dialog-actions>
</main>

